
project _ab_test_results_/ab_data.csv
project _ab_test_results_/countries.csv
project _ab_test_results_/download (1).png
project _ab_test_results_/download.png
project _ab_test_results_/downloadp.png
project investigate-a-dataset/Data.zip
project investigate-a-dataset/gun_data.xlsx
project investigate-a-dataset/U.S. Census Data.csv
U.S. Census Data.csv
project investigate-a-dataset/.ipynb_checkpoints/investigate-a-dataset- (FBI open up!)-checkpoint.ipynb
project investigate-a-dataset/investigate-a-dataset- (FBI open up!).ipynb
project investigate-a-dataset/investigate-a-dataset- (FBI open up!).ipynb
project investigate-a-dataset/investigate-a-dataset- (FBI open up!).ipynb
project _ab_test_results_/.ipynb_checkpoints/ abdelrhman-mohey Analyze_ab_test_results_notebook-checkpoint.ipynb
.ipynb_checkpoints/data Visualization workout-checkpoint.ipynb
project _ab_test_results_/ abdelrhman-mohey Analyze_ab_test_results_notebook.ipynb
project investigate-a-dataset/investigate-a-dataset- (FBI open up!).ipynb
project _ab_test_results_/ abdelrhman-mohey Analyze_ab_test_results_notebook.ipynb
project investigate-a-dataset/investigate-a-dataset- (FBI open up!).ipynb
project investigate-a-dataset/investigate-a-dataset- (FBI open up!).ipynb
project _ab_test_results_/ abdelrhman-mohey Analyze_ab_test_results_notebook.ipynb
project Communicate Data Findings/.ipynb_checkpoints/01.final project by_ibn Mohey-checkpoint.ipynb
project Communicate Data Findings/.ipynb_checkpoints/02.slide_deck_final_BY_ibn mohey-checkpoint.ipynb
project Communicate Data Findings/.ipynb_checkpoints/02.slide_deck_final_BY_ibnmohey-Copy1-checkpoint.ipynb
project Communicate Data Findings/.ipynb_checkpoints/02.slide_deck_final_BY_ibnmohey-Copy2-checkpoint.ipynb
project Communicate Data Findings/.ipynb_checkpoints/slides-checkpoint.ipynb
